# Movie Analysis & Extraction

### Import Dependencies

In [1]:
#Data Cleaning
import pandas as pd
import numpy as np
from scipy.stats import linregress

#Data Visualization
import matplotlib.pyplot as plt
import seaborn as sn

# Data Extraction
import requests
import json
import time

## Import CSV file

In [2]:
#csv --> df of four sources

imdb_movie_df = pd.read_csv('./Resources/IMDB-Movie-Data.csv')
metacritic_df = pd.read_csv('./Resources/metacritic_movies.csv')
mojo_budget_df = pd.read_csv('./Resources/Mojo_budget_data.csv')

In [3]:
imdb_movie_df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [4]:
metacritic_df

,movie_title,release_date,genre,meta_mixed,meta_negative,meta_positive,metascore,user_mixed,user_negative,user_positive,userscore
0,Anatomy of a Murder,1-Jul-59,"Drama,Mystery,Thriller,Crime",0,0,15,95,0,0,3,tbd
1,Bringing Up Baby,18-Feb-38,"Comedy,Romance,Family",0,1,16,91,1,0,2,tbd
2,After Life,12-May-99,"Drama,Fantasy",0,0,19,91,0,2,1,tbd
3,Gavagai,3-Aug-18,Drama,1,0,6,91,0,1,2,tbd
4,The Hustler,25-Sep-61,"Drama,Sport",1,0,17,90,0,0,3,tbd
...,...,...,...,...,...,...,...,...,...,...,...
9116,Wild Reeds,10-May-95,Drama,2,0,11,80,1,0,3,8
9117,No Home Movie,1-Apr-16,Documentary,3,0,7,78,1,0,3,7.8
9118,Solas,8-Sep-00,Drama,2,0,14,75,1,0,3,7.5
9119,J.T. Leroy,26-Apr-19,"Biography,Drama",13,0,10,55,2,1,1,5.5
9120,Donnybrook,15-Feb-19,Drama,3,4,8,53,1,1,2,5.3

In [5]:
mojo_budget_df

,movie_id,movie_title,movie_year,director,writer,producer,composer,cinematographer,main_actor_1,main_actor_2,...,domestic,international,worldwide,mpaa,run_time,genre_1,genre_2,genre_3,genre_4,link
0,tt0118589,Glitter,2001,Vondie Curtis-Hall,Cheryl L. West,Laurence Mark,Terence Blanchard,Geoffrey Simpson,Mariah Carey,Eric BenÃ©t,...,4274407,997259,5271666,PG-13,1 hr 44 min,Drama,Music,Romance,NaN,https://www.boxofficemojo.com/title/tt0118589/...
1,tt0120630,Chicken Run,2000,Peter Lord,Peter Lord,Peter Lord,Harry Gregson-Williams,Simon Jacobs,Mel Gibson,Julia Sawalha,...,106834564,118000000,224834564,NaN,1 hr 24 min,Adventure,Animation,Comedy,Drama,https://www.boxofficemojo.com/title/tt0120630/...
2,tt0120667,Fantastic Four,2005,Tim Story,Mark Frost,Avi Arad,John Ottman,Oliver Wood,Ioan Gruffudd,Michael Chiklis,...,154696080,178839854,333535934,PG-13,1 hr 46 min,Action,Adventure,Family,Fantasy,https://www.boxofficemojo.com/title/tt0120667/...
3,tt0120679,Frida,2002,Julie Taymor,Hayden Herrera,Lindsay Flickinger,Elliot Goldenthal,Rodrigo Prieto,Salma Hayek,Alfred Molina,...,25885000,30413474,56298474,R,2 hr 3 min,Biography,Drama,Romance,NaN,https://www.boxofficemojo.com/title/tt0120679/...
4,tt0120681,From Hell,2001,Albert Hughes,Alan Moore,Jane Hamsher,Trevor Jones,Peter Deming,Johnny Depp,Heather Graham,...,31602566,42955549,74558115,R,2 hr 2 min,Horror,Mystery,Thriller,NaN,https://www.boxofficemojo.com/title/tt0120681/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,tt8688634,21 Bridges,2019,Brian Kirk,Adam Mervis,Chadwick Boseman,Alex Belcher,Paul Cameron,Chadwick Boseman,Sienna Miller,...,28539757,21400000,49939757,R,1 hr 39 min,Action,Crime,Drama,Thriller,https://www.boxofficemojo.com/title/tt8688634/...
2472,tt8946378,Knives Out,2019,Rian Johnson,Rian Johnson,Ram Bergman,Nathan Johnson,Steve Yedlin,Daniel Craig,Chris Evans,...,165363234,146189956,311553190,PG-13,2 hr 11 min,Comedy,Crime,Drama,Mystery,https://www.boxofficemojo.com/title/tt8946378/...
2473,tt9024106,Unplanned,2019,Chuck Konzelman,Abby Johnson,Chris Jones,Stephen Blake Kanicka,Drew Maw,Ashley Bratcher,Brooks Ryan,...,19005109,2046806,21051915,R,1 hr 49 min,Biography,Drama,NaN,NaN,https://www.boxofficemojo.com/title/tt9024106/...
2474,tt9134216,Playing with Fire,2019,Andy Fickman,Dan Ewen,Todd Garner,Nathan Wang,Dean Semler,John Cena,Keegan-Michael Key,...,44451847,24179822,68631669,PG,1 hr 36 min,Comedy,Family,NaN,NaN,https://www.boxofficemojo.com/title/tt9134216/...
2475,tt9173418,Brahms: The Boy II,2020,William Brent Bell,Stacey Menear,Matt Berenson,Brett Detar,Karl Walter Lindenlaub,Katie Holmes,Owain Yeoman,...,12611536,7700000,20311536,PG-13,1 hr 26 min,Drama,Horror,Mystery,Thriller,https://www.boxofficemojo.com/title/tt9173418/...

### CSV Data Cleaning

In [21]:
#dropping columns with irrelevant data

cleaned_mojo_df= mojo_budget_df.drop(columns= ['movie_id','director', 'writer', 'producer', 'composer', 'cinematographer', 'main_actor_1', 'main_actor_2', 'main_actor_3', 'main_actor_4', 'genre_2', 'genre_3', 'genre_4', 'link' ])

cleaned_mojo_df.head()

,movie_title,movie_year,budget,domestic,international,worldwide,mpaa,run_time,genre_1
0,Glitter,2001,22000000,4274407,997259,5271666,PG-13,1 hr 44 min,Drama
1,Chicken Run,2000,45000000,106834564,118000000,224834564,NaN,1 hr 24 min,Adventure
2,Fantastic Four,2005,100000000,154696080,178839854,333535934,PG-13,1 hr 46 min,Action
3,Frida,2002,12000000,25885000,30413474,56298474,R,2 hr 3 min,Biography
4,From Hell,2001,35000000,31602566,42955549,74558115,R,2 hr 2 min,Horror

#look at data we want from imdb and metacritic

In [7]:
imdb_movie_df.Rating.head()

0    8.1
1    7.0
2    7.3
3    7.2
4    6.2
Name: Rating, dtype: float64

In [8]:
imdb_movie_df.Votes.head()

0    757074
1    485820
2    157606
3     60545
4    393727
Name: Votes, dtype: int64

In [18]:
cleaned_imdb_df= imdb_movie_df.drop(columns= ['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Revenue (Millions)', 'Metascore'])
cleaned_imdb_df.head()

                     Title  Rating   Votes
0  Guardians of the Galaxy     8.1  757074
1               Prometheus     7.0  485820
2                    Split     7.3  157606
3                     Sing     7.2   60545
4            Suicide Squad     6.2  393727

In [ ]:
# Change column name from title to movie_title

In [20]:
cleaned_imdb_df.rename(columns={'Title': 'movie_title'}, inplace=True)
cleaned_imdb_df.head()

               movie_title  Rating   Votes
0  Guardians of the Galaxy     8.1  757074
1               Prometheus     7.0  485820
2                    Split     7.3  157606
3                     Sing     7.2   60545
4            Suicide Squad     6.2  393727

In [10]:
#Hi Jake

In [11]:
metacritic_df.head()

,movie_title,release_date,genre,meta_mixed,meta_negative,meta_positive,metascore,user_mixed,user_negative,user_positive,userscore
0,Anatomy of a Murder,1-Jul-59,"Drama,Mystery,Thriller,Crime",0,0,15,95,0,0,3,tbd
1,Bringing Up Baby,18-Feb-38,"Comedy,Romance,Family",0,1,16,91,1,0,2,tbd
2,After Life,12-May-99,"Drama,Fantasy",0,0,19,91,0,2,1,tbd
3,Gavagai,3-Aug-18,Drama,1,0,6,91,0,1,2,tbd
4,The Hustler,25-Sep-61,"Drama,Sport",1,0,17,90,0,0,3,tbd

In [19]:
cleaned_metacritic_df= metacritic_df.drop(columns= ['release_date', 'genre', 'meta_mixed', 'userscore'])
cleaned_metacritic_df.head()

,movie_title,meta_negative,meta_positive,metascore,user_mixed,user_negative,user_positive
0,Anatomy of a Murder,0,15,95,0,0,3
1,Bringing Up Baby,1,16,91,1,0,2
2,After Life,0,19,91,0,2,1
3,Gavagai,0,6,91,0,1,2
4,The Hustler,0,17,90,0,0,3

In [24]:
# Merge dfs on movie_title
merged_df = pd.merge(cleaned_mojo_df, cleaned_imdb_df, on="movie_title")
merged_df.head()

,movie_title,movie_year,budget,domestic,international,worldwide,mpaa,run_time,genre_1,Rating,Votes
0,Fantastic Four,2005,100000000,154696080,178839854,333535934,PG-13,1 hr 46 min,Action,4.3,121847
1,Fantastic Four,2015,120000000,56117548,111765333,167882881,PG-13,1 hr 40 min,Action,4.3,121847
2,Children of Men,2006,76000000,35552383,35043081,70595464,R,1 hr 49 min,Drama,7.9,382910
3,Ghost Rider,2007,110000000,115802596,112935797,228738393,PG-13,1 hr 50 min,Action,5.2,190673
4,Cars,2006,120000000,244082982,217900167,461983149,NaN,1 hr 57 min,Animation,7.1,283445

In [26]:
movie_db_df = pd.merge(merged_df, cleaned_metacritic_df, on="movie_title")
movie_db_df.head()

,movie_title,movie_year,budget,domestic,international,worldwide,mpaa,run_time,genre_1,Rating,Votes,meta_negative,meta_positive,metascore,user_mixed,user_negative,user_positive
0,Fantastic Four,2005,100000000,154696080,178839854,333535934,PG-13,1 hr 46 min,Action,4.3,121847,11,6,40,161,177,305
1,Fantastic Four,2005,100000000,154696080,178839854,333535934,PG-13,1 hr 46 min,Action,4.3,121847,21,1,27,176,627,109
2,Fantastic Four,2015,120000000,56117548,111765333,167882881,PG-13,1 hr 40 min,Action,4.3,121847,11,6,40,161,177,305
3,Fantastic Four,2015,120000000,56117548,111765333,167882881,PG-13,1 hr 40 min,Action,4.3,121847,21,1,27,176,627,109
4,Children of Men,2006,76000000,35552383,35043081,70595464,R,1 hr 49 min,Drama,7.9,382910,0,37,84,71,112,"1,031"

### Save to CSV for future use

In [ ]:
#Save df to csv

#random_name_csv.to_csv('./Resources/Random_name2.csv',index=False)